# будут игнорироваться файлы Thumbs.db и .DS_Store
Thumbs.db
.DS_Store

# Будет игнорироваться каталог tmp
tmp/

# Будут игнорироваться все файлы, заканчивающиеся суффиксами _old, _backup
*_old
*_backup